/* body styles */
body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 1158px;
}

/* Header */
.heder {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.heder .container {
    display: flex;
    align-items: center;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-span {
    color: #2E2F42;
}

/* Site nav */
.nav {
    display: flex;
    margin-right: 332px;
    align-items: center;
}

.nav .list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-link {
    position: relative;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: #404BBF;
}

.nav-link.active {
    color: #404BBF;
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}

.address {
    font-style: normal;
}

.address .list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.address-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

/* Hero */
.hero {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
    /* max-width: 1440px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0px;

}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.hero-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 496px;
}

.button {
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

/* Main content styles */
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    width: 220px;
    margin-top: 0;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.text-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
}

.section-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-top: 0;
    margin-bottom: 0;
}

.features-section .list {
    display: flex;
    gap: 24px;
}

.features-item {
    display: flex;
    width: 264px;
    flex-direction: column;
}

.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
    fill: #2E2F42;
}

.team {
    background-color: #F4F4FD;
}

.team .list {
    display: flex;
    gap: 24px;
}

.list-item {
    background-color: #FFFFFF;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-wrapper {
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-paragraph {
    text-align: center;
    margin-bottom: 8px;
}

.reviews-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.reviews-item {
    width: 40px;
    height: 40px;
}

.reviews-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-link:hover,
.reviews-link:focus {
    background-color: #404bbf;
}

.reviews-icon {
    fill: currentColor;
}

.portfolio-section .list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    background-color: #FFFFFF;
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-element {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    display: flex;
    justify-content: center;
    margin: 0;
    color: #F4F4FD;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
    transform: translateY(0%);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-wrapper {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

/* Footer */
.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: start;
    align-self: stretch;
}

.footer-span {
    color: #F4F4FD;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 120px;
}

.footer .reviews-list {
    gap: 16px;
}

.footer .reviews-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .reviews-link:hover,
.footer .reviews-link:focus {
    background-color: #31d0aa;
}

.footer-title {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 0px;
    margin-bottom: 16px;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 0;
    width: 264px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal-form {
    display: flex;
    flex-direction: column;
    width: 408px;
    border-radius: 4px;
    justify-content: center;
    background-color: #FCFCFC;
    padding: 72px 24px 24px 24px;
}

.modal-form>.button {
    margin-right: auto;
    margin-left: auto;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    position: relative;
}

.form-field input {
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    margin: 0;
    padding: 0;
    padding-left: 38px;
}

.form-label {
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.48px;
}

.form-input {}

.form-input:focus {
    outline: 1px solid #4D5AE5;
}

.form-icon {
    position: absolute;
    top: 29px;
    left: 16px;
    display: inline-block;
}

.form-field:focus-within .form-icon {
    fill: #4d5ae5;
}

/* .form-field input:focus {
    border-color: #4D5AE5;
} */

.comment {
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.48px;
    resize: none;
    padding-left: 16px;
}

.comment:focus {
    outline: 1px solid #4D5AE5;
}

.form-checkbox {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
    position: relative;

}

.check-label {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.48px;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check-icon {
    display: inline-flex;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
}

.icon-click {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.check-icon>.icon-click {
    border-color: #404BBF;
    background-color: #404BBF;
    fill: #F4F4FD;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal {
    width: 408px;
    min-height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #FCFCFC;
    padding: 72px 24px 24px 24px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    color: #2E2F42;
}

.modal-btn-icon {
    stroke-width: 1px;
    stroke: currentColor;
}

.modal-text {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-top: 0;
    margin-bottom: 16;
} */